{% extends "includes/layout.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% set referenceNumberHtml %}
                {% if fields.ccdReferenceNumber.value !== "" %}
                    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">
                        <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">{{ content.referenceNumber | safe }}</span><br>
                        <strong class="govuk-!-font-weight-bold" aria-label="{{ fields.ccdReferenceNumberAccessible.value }}">{{ fields.ccdReferenceNumber.value }}</strong>
                    </p>
                {% endif %}
            {% endset -%}

            {{ govukPanel({
                titleText: content.header | safe,
                html: referenceNumberHtml
            }) }}

            <h2 class="govuk-heading-m">{{ content.successHeading1 | safe }}</h2>
                <p class="govuk-body">{{ content.successParagraph1 | safe }}</p>
                <p class="govuk-body">{{ content.successParagraph2 | safe }}</p>

                <div class="margin-bottom50">
                    <h2 class="govuk-heading-m">{{ content.saveYourApplication | safe }}</h2>
                    <p class="govuk-body">{{ content.saveParagraph1 | safe }}</p>
                    <p class="govuk-body">
                        <em class="icon icon-file-download"></em>
                        <a class="govuk-link anchor-margin-left" id="checkAnswerHref" href="{{ globals.basePath }}/check-answers-pdf">{{ content.checkAnswersPdf | safe }}</a>
                    </p>
                </div>

                {{ govukInsetText({
                    text: content.successParagraph3 | replace("{citizenAdvice}", globals.links.citizenAdvice) | safe
                }) }}

                <a href="{{ globals.links.surveyEndOfApplication | safe }}" class="govuk-link" target="_blank" rel="external noopener noreferrer" aria-label="{{ content.survey | safe }}">{{ content.survey | safe }}</a>
            </div>
        </div>
    </main>
{% endblock %}
