<p class="govuk-body" id="webchat-maintenance"> {{ common.helpChatMaintenance | replace("\n", "\\n") | safe }} </p>
<web-chat
    id="avayaWebchatMetric"
    class="hidden"
    chat-title="Ask Probate" 
    chat-icon-url="public/images/icon.png"
    locale-url="public/locales/avaya-webchat"
    url="webchat.ctsc.hmcts.net"
    secure-connections="true"
    api-version="1.0"
    metrics-polling-interval="30"
    Language="English"
    Service="Probate"
    page-name="Stop a grant of probate"> 
</web-chat>
