{% block footer %}
  {{ govukFooter({
    meta: {
      items: [{
        href: globals.links.cookies,
        text: common.cookies
      }, {
        href: globals.links.privacy,
        text: common.privacyPolicy
      }, {
        href: globals.links.accessibility,
        text: common.accessibility
      }, {
        href: globals.links.terms,
        text: common.termsAndConditions
      }, {
        href: globals.links.contact,
        text: common.contactUs
      }]
    }
  }) }}
{% endblock %}
