{% block footer %}
    {{ govukFooter({
        meta: {
            items: [{
                href: globals.links.cookies,
                text: common.cookies | safe
            }, {
                href: globals.links.privacy,
                text: common.privacyPolicy | safe
            }, {
                href: globals.links.accessibility,
                text: common.accessibility | safe
            }, {
                href: globals.links.terms,
                text: common.termsAndConditions | safe
            }, {
                href: globals.links.contact,
                text: common.contactUs | safe
            }]
        }
    }) }}
{% endblock %}
