{% include "includes/scripts_ga_1.html" %}
<link href="{{ globals.basePath }}/public/stylesheets/application.css?v=1.0" media="screen" rel="stylesheet" type="text/css" />
</head>
<!--[if IE 8]><link rel="stylesheet" media="screen" href="{{ globals.basePath }}/public/stylesheets/application-ie8.css"/><![endif]-->


<!-- Set Dynatrace RUM Script for environment -->
{% if currentHost and "aat" in currentHost %}
<script type="text/javascript" src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf24054dsx/1a4a5be3b17a10d3_complete.js" crossorigin="anonymous"></script>
{% endif %}
{% if currentHost and "apply-for-probate" in currentHost %}
<script type="text/javascript" src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf00910jpo/15d45f7c5933b5bc_complete.js"crossorigin="anonymous"></script>
{% endif %}
<!-- End Dynatrace RUM Script -->