{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block help_info %}
    {% set helpContent = "<p class=\"govuk-heading-s\">" + (common.helpHeadingTelephone) + "</p>" %}
    {% set helpContent = helpContent + "<p class=\"govuk-body\">" + globals.helpline.number + "</p>" %}
    {% set helpContent = helpContent + "<p class=\"govuk-body\">" + globals.helpline.hours + ".</p>" %}
    {% set helpContent = helpContent + "<p class=\"govuk-heading-s\">" + (common.helpHeading2) + "</p>" %}
    {% set helpContent = helpContent + "<p class=\"govuk-body\">" + (common.helpEmailLabel | replace("{contactEmailAddress}", globals.helpline.email)) + "</p>" %}

    {% if fields.featureToggles.value.ft_webforms == "true" %}
        {% set helpContent = helpContent + "<p class=\"govuk-heading-s\">" + (common.helpHeadingOnlineForm) + "</p>" %}
        {% set helpContent = helpContent + "<p class=\"govuk-body\">" + (common.helpSendUsAMessage | replace('{webForms}', globals.links.webForms) | safe) + " " + common.helpOpensInNewWindow + ".</p>" %}
        {% set helpContent = helpContent + "<p class=\"govuk-body\">" + common.helpResponseTime | safe + "</p>" %}
    {% else %}
        {% set helpContent = helpContent + "<p class=\"govuk-heading-s\">" + (common.helpHeadingEmail) + "</p>" %}
        {% set helpContent = helpContent + "<p class=\"govuk-body\">" + (common.helpEmailLabel | replace("{contactEmailAddress}", globals.links.contactEmailAddress)) + "</p>" %}
    {% endif %}

    {% set helpContent = helpContent + "<p class=\"govuk-heading-s\" id=\"ctsc-web-chat-header\">" + (common.helpHeadingWebchat) + "</p>" %}
    {% set helpContent = helpContent + "<div id=\"ctsc-web-chat\"></div>" %}

    {{ govukDetails({
        summaryText: common.helpTitle | safe,
        text: helpContent | safe,
        id: "contact-us-for-help"
    }) }}
{% endblock %}
