{% block help_info %}
    <details class="help-panel help-details">
        <summary><span class="summary help-details-summary">{{common.helpTitle}}</span></summary>
        <div class="panel panel-border-narrow">
            <p>{{common.helpText | safe}}</p>
            <p>{{common.contactTelLabel | replace('{helpLineNumber}', helpline.number)}} {{common.contactOpeningTimes | replace('{openingTimes}', helpline.hours)}}</p>
            <p>{{common.helpEmailLabel}} {{common.contactEmailAddress | safe }}</p>
        </div>
    </details>
{% endblock %}
