{% extends "govuk/template.njk" %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% set htmlLang = fields.language.value %}

{% block pageTitle %}
    {% if title == undefined %}
      {% set title = content.title %}
    {% endif %}

    {% if errors | length %}{{ common.error }}: {% endif %}{{ title | safe }}{% if serviceName %}{{ " - " + serviceName }}{% endif %}
{% endblock %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

{% block header %}
    {% include "includes/scripts_ga_2.html" %}

    {% block cookiebanner %}
        {% include "includes/cookie-banner.html" %}
    {% endblock %}


    {{ govukHeader({
        homepageUrl: "#",
        containerClasses: "govuk-width-container",
        serviceName: serviceName | safe,
        useTudorCrown: true,
        serviceUrl: (globals.basePath if globals.basePath) + "/"
    }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
        tag: {
            text: common.phase | safe
        },
        html: (common.feedback + common.languageToggle) | replace("{smartSurveyFeedbackUrl}", globals.links.survey) | replace("{currentPageUrl}", pageUrl) | safe
    }) }}

{% if showBackLink is not defined %}
{% set showBackLink = true %}
{% endif %}
{% if showBackLink %}
<a href="javascript:void(0);" class="govuk-back-link">{{ common.back | safe }}</a>
{% endif %}
<script nonce="{{ globals.nonce }}">
    document.querySelector('.govuk-back-link').addEventListener('click', function(event) {
        event.preventDefault();
        history.go(-1);
    });
</script>
{% endblock %}

{% block footer %}
    {% include "includes/footer_links.html" %}
{% endblock %}

{% block bodyEnd %}
    {% include "includes/scripts.html" %}
{% endblock %}
