<script src="{{ globals.basePath }}/public/javascripts/govuk-frontend/govuk/all.js"></script>
<script nonce="{{ globals.nonce }}">window.GOVUKFrontend.initAll()</script>

<!--[if lte IE 9]>
<script src="{{ globals.basePath }}/public/javascripts/form-polyfill.js"></script>
<![endif]-->

{% if fields.language.value == "en" and fields.isAvayaWebChatEnabled.value === 'true'%}
   <!-- https://www.srihash.org/ creating the integrity from this url wheneverthe file changes -->
    <script src="https://{{ globals.webchat.avayaClientUrl }}/chat-client/1/app-es2015.js" defer type="module" crossorigin="anonymous"></script>
    <script src="https://{{ globals.webchat.avayaClientUrl }}/chat-client/1/app-es5.js" nomodule defer crossorigin="anonymous"></script>
   
{% endif %}
<script src="{{ globals.basePath }}/public/javascripts/avaya-webchat-1.js"></script>
