{% extends "includes/layout.html" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% block error_summary %}
                {% include "includes/error_summary.html" %}
            {% endblock %}

            {% block page_content %}{% endblock %}

            <form class="form" id="main-form" method="post" autocomplete="off" action="{{ globals.basePath }}{{ pageUrl }}" novalidate>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% block form_content %}{% endblock %}
            </form>

            {% block executor_summary %}{% endblock %}

            {% include "includes/help_details.html" %}
        </div>
    </div>
{% endblock %}
