{% extends "includes/layout.html" %}

{% block content %}
<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            {% block error_summary %}
                {% include "includes/error_summary.html" %}
            {% endblock %}

            {% block question %}{% endblock %}

            {% block page_content %}{% endblock %}

            <form class="form" method="post" action="{{pageUrl}}" novalidate>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                {% block form_content %}{% endblock %}
            </form>

            {% block save_and_close %}<p><a href="/sign-out">{{common.saveAndClose}}</a></p>{% endblock %}

            {% block executor_summary %}{% endblock %}

            {% include "includes/help_details.html" %}
        </div>
    </div>
</main>
{% endblock %}
