{% extends "includes/two_thirds_form.html" %}

{% from "widgets/textfields.html" import textField, textarea %}
{% from "widgets/addresslookup.html" import addressFinder %}

{% block question %}
    <h1 class="form-title heading-large">{{content.question}}</h1>
{% endblock %}

{% block form_content %}
    <fieldset>
        <legend class="visually-hidden">
            {{ content.findAddress | safe }}
        </legend>
        {{addressFinder(
            fields,
            content,
            'DeceasedAddress')
        }}
        <div class="form-group">
            <details {{"open" if fields.freeTextAddress }}>
                <summary><span class="summary">{{content.enterManually}}</span>
                </summary>
                <div class="panel panel-border-narrow">
                    {{textarea(
                        name = 'freeTextAddress',
                        field = fields.freeTextAddress,
                        text = content.enterManually,
                        size = 8)
                    }}
                </div>
            </details>
        </div>
    </fieldset>
    <div class="form-group">
        <input type="submit" class="button" value="{{common.continue}}">
    </div>
{% endblock %}
