$path: "/public/images/";

// Import GOV.UK Frontend
@import "govuk-frontend/dist/govuk/base";
@import "govuk-frontend/dist/govuk/settings/all";
@import "govuk-frontend/dist/govuk/core/all";
@import "govuk-frontend/dist/govuk/objects/all";
@import "govuk-frontend/dist/govuk/components/back-link/back-link";
@import "govuk-frontend/dist/govuk/components/button/button";
@import "govuk-frontend/dist/govuk/components/checkboxes/checkboxes";
@import "govuk-frontend/dist/govuk/components/date-input/date-input";
@import "govuk-frontend/dist/govuk/components/details/details";
@import "govuk-frontend/dist/govuk/components/error-message/error-message";
@import "govuk-frontend/dist/govuk/components/error-summary/error-summary";
@import "govuk-frontend/dist/govuk/components/fieldset/fieldset";
@import "govuk-frontend/dist/govuk/components/footer/footer";
@import "govuk-frontend/dist/govuk/components/header/header";
@import "govuk-frontend/dist/govuk/components/hint/hint";
@import "govuk-frontend/dist/govuk/components/input/input";
@import "govuk-frontend/dist/govuk/components/inset-text/inset-text";
@import "govuk-frontend/dist/govuk/components/panel/panel";
@import "govuk-frontend/dist/govuk/components/phase-banner/phase-banner";
@import "govuk-frontend/dist/govuk/components/radios/radios";
@import "govuk-frontend/dist/govuk/components/select/select";
@import "govuk-frontend/dist/govuk/components/skip-link/skip-link";
@import "govuk-frontend/dist/govuk/components/summary-list/summary-list";
@import "govuk-frontend/dist/govuk/components/table/table";
@import "govuk-frontend/dist/govuk/components/tag/tag";
@import "govuk-frontend/dist/govuk/components/textarea/textarea";
@import "govuk-frontend/dist/govuk/components/warning-text/warning-text";
@import "govuk-frontend/dist/govuk/utilities/all";
@import "govuk-frontend/dist/govuk/overrides/all";
@import "govuk-frontend/dist/govuk/components/cookie-banner/cookie-banner";
@import "govuk-frontend/dist/govuk/components/notification-banner/notification-banner";

@import "patterns/phase-banner";
@import "patterns/header";
@import "patterns/hint";
@import "patterns/radios";

@import "patterns/task-list";
@import "patterns/check-your-answers";

@import "application-common.scss";
