/govuk/
/node_modules/
/public/
/log/
/lib/
/.idea/
/nbproject/
.DS_Store
/.vscode/
/output/
.sonar/
.sonarlint/
.project
/npm-debug.log*
jsconfig.json
*.tmp
coverage
*.iml
/test/end-to-end/output/**
package-lock.json
yarn-error.log
git.properties.json
/functional-output/
.scannerwork/
