{% extends "includes/layout.html" %}

{% block content %}
    <main id="content" role="main">
        <div class="column-two-thirds">
            <h1 class="govuk-heading-l">{{ content.heading1 }}</h1>
            <p>{{ content.paragraph1 | replace('{helpLineNumber}', helpline.number) }}</p>
            <p>{{ content.paragraph2 | replace('{helpLineHours}', helpline.hours) }}</p>
            <p>{{ content.paragraph3 | replace('{callChargesLink}', links.callCharges) | safe }}</p>
        </div>
    </main>
{% endblock %}
