#global-cookie-message {
  background-color: govuk-colour("white");
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;

  p {
    color: govuk-colour("black");
    font-size: govuk-em(16px, 16px);
    line-height: 1.25;
    margin: 0 15px;
    max-width: 960px;

    @include govuk-media-query($from: tablet) {
      margin: 0 30px;
    }

    @include govuk-media-query($from: desktop) {
      margin: 0 auto;
    }

    a {
      color: govuk-colour("black");
    }
  }
}

.js-enabled #global-cookie-message {
  display: none;
}
