{% extends "includes/layout.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "widgets/lists.html" import unorderedList %}

{% block content %}
    <form id="cookie-manager-form">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">{{ content.heading1 | safe }}</h1>
                <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
                <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
                {{ unorderedList([content["whatCookiesAreUsedFor-item1"], content["whatCookiesAreUsedFor-item2"]]) }}
    
                <h2 class="govuk-heading-m">{{ content.howAreCookiesUsedHeading1 | safe }}</h2>
                <h2 class="govuk-heading-m">{{ content.websiteUsageCookiesHeading1 | safe }}</h2>
                <p class="govuk-body">{{ content.websiteUsageCookiesParagraph1 | safe }}</p>
    
                <h2 class="govuk-heading-m">{{ content.cookieDetailsTableHeading | safe }}</h2>
                {{ govukTable({
                    caption: content.websiteUsageCookiesHeading1 | safe,
                    captionClasses: "govuk-visually-hidden",
                    head: [
                        { text: content.cookieNameHeader | safe },
                        { text: content.cookiePurposeHeader | safe },
                        { text: content.cookieExpiryHeader | safe }
                    ],
                    rows: [
                        [
                            { text: content.googleAnalyticsCookieName1 | safe },
                            { text: content.googleAnalyticsCookiePurpose1 | safe },
                            { text: content.googleAnalyticsCookieExpiry1 | safe }
                        ],
                        [
                            { text: content.googleAnalyticsCookieName2 | safe },
                            { text: content.googleAnalyticsCookiePurpose2 | safe },
                            { text: content.googleAnalyticsCookieExpiry2 | safe }
                        ],
                        [
                            { text: content.googleAnalyticsCookieName3 | safe },
                            { text: content.googleAnalyticsCookiePurpose3 | safe },
                            { text: content.googleAnalyticsCookieExpiry3 | safe }
                        ]
                    ]
                }) }}
    
                {{ govukRadios({
                    classes: "govuk-radios",
                    idPrefix: "analytics",
                    name: "analytics",
                    fieldset: {
                        legend: {
                            text: content.googleAnalyticsAllowParagraph | safe,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend"
                        }
                    },
                    items: [
                        {
                            value: "on",
                            text: content.optionYes | safe,
                            checked: false
                        },
                        {
                            value: "off",
                            text: content.optionNo | safe,
                            checked: true
                        }
                    ]
                }) }}
    
                <h2 class="govuk-heading-m">{{ content.performanceCookiesHeading1 | safe }}</h2>
                <p class="govuk-body">{{ content.performanceCookiesParagraph1 | safe }}</p>
                {{ unorderedList([content["performanceCookies-item1"], content["performanceCookies-item2"], content["performanceCookies-item3"]]) }}
                <p class="govuk-body">{{ content.performanceCookiesParagraph2 | safe }}</p>
    
                <h2 class="govuk-heading-m">{{ content.cookieDetailsTableHeading | safe }}</h2>
                {{ govukTable({
                    caption: content.websiteUsageCookiesHeading1 | safe,
                    captionClasses: "govuk-visually-hidden",
                    head: [
                        { text: content.cookieNameHeader | safe },
                        { text: content.cookiePurposeHeader | safe },
                        { text: content.cookieExpiryHeader | safe }
                    ],
                    rows: [
                        [
                            { text: content.performanceCookieName1 | safe },
                            { text: content.performanceCookiePurpose1 | safe },
                            { text: content.performanceCookieExpiry1 | safe }
                        ],
                        [
                            { text: content.performanceCookieName2 | safe },
                            { text: content.performanceCookiePurpose2 | safe },
                            { text: content.performanceCookieExpiry2 | safe }
                        ],
                        [
                            { text: content.performanceCookieName3 | safe },
                            { text: content.performanceCookiePurpose3 | safe },
                            { text: content.performanceCookieExpiry3 | safe }
                        ],
                        [
                            { text: content.performanceCookieName4 | safe },
                            { text: content.performanceCookiePurpose4 | safe },
                            { text: content.performanceCookieExpiry4 | safe }
                        ],
                        [
                            { text: content.performanceCookieName5 | safe },
                            { text: content.performanceCookiePurpose5 | safe },
                            { text: content.performanceCookieExpiry5 | safe }
                        ],
                        [
                            { text: content.performanceCookieName6 | safe },
                            { text: content.performanceCookiePurpose6 | safe },
                            { text: content.performanceCookieExpiry6 | safe }
                        ]
                    ]
                }) }}
    
                {{ govukRadios({
                    classes: "govuk-radios",
                    idPrefix: "apm",
                    name: "apm",
                    fieldset: {
                        legend: {
                            text: content.performanceAllowParagraph | safe,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend"
                        }
                    },
                    items: [
                        {
                            value: "on",
                            text: content.optionYes | safe,
                            checked: false
                        },
                        {
                            value: "off",
                            text: content.optionNo | safe,
                            checked: true
                        }
                    ]
                }) }}
    
                <h2 class="govuk-heading-m">{{ content.essentialCookiesHeading | safe }}</h2>
                <p class="govuk-body">{{ content.essentialCookiesParagraph1 | safe }}</p>
                <p class="govuk-body">{{ content.essentialCookiesParagraph2 | safe }}</p>
    
                <button class="govuk-button" type="submit">{{ content.save }}</button>
            </div>
        </div>    
    </form>
{% endblock %}
