{% extends "includes/layout.html" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import unorderedList %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content.header1 | safe }}</h1>
            <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
            <h2 class="govuk-heading-m">{{ content.header1a | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph1a | replace("{myhmctsManageCasesLink}", globals.links.myhmctsManageCasesLink) | safe }}</p>
            <p class="govuk-body">{{ content.paragraph1b | replace("{myhmctsRegisterLink}", globals.links.myhmctsRegisterLink) | safe }}</p>
            <h2 class="govuk-heading-m">{{ content.header1b | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
            {{ unorderedList([
                content.bullet1,
                content.bullet2,
                content.bullet3,
                content.bullet4,
                content.bullet5,
                content.bullet6,
                content.bullet7 | replace("{whoInheritsLink}", globals.links.whoInheritsLink),
                content.bullet8,
                content.bullet9
            ]) }}

            <p class="govuk-body">{{ content.paragraph3 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph4 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph5 | safe }}</p>

            {{ govukWarningText({
                text: content.paragraph6 | safe,
                iconFallbackText: "Warning"
            }) }}

            <p class="govuk-body">{{ content.paragraph9 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph10 | safe }}</p>

            <h2 class="govuk-heading-m">{{ content.header2 | safe }}</h2>
            {{ unorderedList([
                content.bullet10,
                content.bullet11,
                content.bullet12
            ]) }}

            <h2 class="govuk-heading-m">{{ content.header3 | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph7 | replace("{feesCost}", globals.applicationFee) | safe }}</p>
            <p class="govuk-body">{{ content.paragraph8 | safe }}</p>
        </div>
    </div>
    <div class="govuk-form-group">
        {{ govukButton({
            text: common.start | safe,
            href: (globals.basePath if globals.basePath) + "/applicant-name",
            isStartButton: true
        }) }}
    </div>
{% endblock %}
