{% extends "includes/layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content.header | safe }}</h1>
            <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph3 | safe | replace("{stopGrantOfRepresentation}", globals.links.stopGrantOfRepresentation) | safe }}</p>
            <p class="govuk-body">{{ content.paragraph4 | safe }}</p>
            <p class="govuk-body">
                {{ common.helpHeading1 | safe }}: {{ common.helpTelephoneNumber | safe }} ({{ common.helpTelephoneOpeningHours | safe }})<br>
                {{ common.helpEmailLabel | replace("{contactEmailAddress}", common.helpEmail) | safe }}
            </p>
        </div>
    </div>
{% endblock %}
