{% extends "includes/layout.html" %}

{% block content %}

    <main id="content" role="main">

        {% include "includes/phase_banner_beta.html" %}

        <h1 class="form-title heading-large">{{ content.header | safe }}</h1>

        {% set tempContent = content[fields.stopReason.value] %}
        {% for placeholder in fields.linkPlaceholders.value %}
            {% set tempContent = tempContent | replace('{' + placeholder + '}', links[placeholder]) %}
        {% endfor %}

        <p>{{ tempContent | safe}}</p>

        {% include "includes/help_details.html" %}

    </main>

{% endblock %}
