{% extends "includes/two_thirds_form.html" %}

{% from "widgets/textfields.html" import textField %}
{% from "widgets/radiobuttons.html" import optionsRadio %}

{% block question %}
    <h1 class="form-title heading-large">{{ content.question | safe }}</h1>
{% endblock %}

{% block form_content %}
    {{ optionsRadio(content,
        name = 'dobknown',
        field = fields.dobknown,
        options = ['optionYes', 'optionNo'],
        legend = content.legend,
        inline = true
    ) }}
    <div class="form-group">
        <input class="button" type="submit" value="{{ common.continue }}">
    </div>
{% endblock %}
{% block save_and_close %}{% endblock %}
