{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukInput({
        label: {
            text: content.question | safe,
            classes: "govuk-label--l",
            isPageHeading: true
        },
        hint: {
            text: content.explanation1 | safe
        },
        id: "email",
        name: "email",
        value: fields.email.value | safe,
        errorMessage: { text: fields.email.errorMessage | safe } if fields.email.errorMessage,
        attributes: {
            maxlength: 255
        },
        classes: "govuk-!-width-three-quarters"
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
