{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/fielderror.html" import fieldError %}

{% macro addressFinder(fields,content,basePath,step) %}
    <div class="govuk-form-group {{ "govuk-form-group--error" if fields.postcode.error }}">
        <label for="postcode" class="govuk-label">{{ content.postcode | safe }}</label>

        {{ fieldError(fields.postcode) }}

        <input type="text" class="govuk-input govuk-!-width-one-quarter {{ "govuk-input--error" if fields.postcode.error }}" id="postcode" name="postcode" value="{{ fields.postcode.value }}" autocomplete="none">
        <input type="hidden" id="referrer" name="referrer" value="{{ step }}">
        <input type="hidden" id="addressFound" name="addressFound" value="{{ fields.addressFound.value if fields.addressFound else "none" }}">
        <button type="submit" data-prevent-double-click="true" class="govuk-button govuk-button--secondary find-address-button" id="findAddress">{{ content.findAddress | safe }}</button>
    </div>

    {% if fields.addresses %}
        <div class="govuk-form-group">
            <label for="postcodeAddress" class="govuk-label">{{ content.addressLabel | safe }}</label>
            <select id="postcodeAddress" class="govuk-select" name="postcodeAddress" value="{{ fields.address.value }}">
                <option value="">{{ content.selectAddress }}</option>
                {% for address in fields.addresses.value %}
                    {% set formattedAddress = address.formattedAddress | replace(",",", ") %}
                    <option value="{{ loop.index0 }}" {{ "selected" if formattedAddress == fields.postcodeAddress.value }}>{{ formattedAddress }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}

    <script nonce="{{ globals.nonce }}">
        (function() {
            if (document.getElementById('postcodeAddress')) {
                const addresses = [
                    {% for address in fields.addresses.value %}
                        '{{ address.formattedAddress | replace("\'", "\\\'") | replace(",", "###") | safe}}',
                    {% endfor %}
                ];
                document.getElementById('postcodeAddress').addEventListener('change', function(e) {
                    let address = addresses[e.target.value].split('###');
                    const city = address[address.length - 2];
                    const postcode = address[address.length - 1];
                    address.length = address.length - 2;
                    if (address[3] !== undefined) {
                        address[2] = address[3] + ', ' + address[2];
                    }
                    document.getElementById('addressLine1').value = address[0];
                    document.getElementById('addressLine2').value = address[1] || '';
                    document.getElementById('addressLine3').value = address[2] || '';
                    document.getElementById('postTown').value = city;
                    document.getElementById('newPostCode').value = postcode;
                    document.getElementById('country').value = 'United Kingdom';
                    document.getElementById('details-panel').setAttribute('open', true);
                    document.getElementById('details-panel').getElementsByClassName('govuk-details__summary')[0].setAttribute('aria-expanded', true);
                    document.getElementById('details-panel').getElementsByClassName('govuk-details__text')[0].setAttribute('aria-hidden', false);
                });
            }
        })();
    </script>
    <script src="{{ globals.basePath }}/public/javascripts/address-fields-focus.js"></script>
{% endmacro %}
