{% macro checkanswer(items, url, common, alreadyDeclared, answerIsCollection, answerIsGroup) %}
    {% set anyVisibleItems = items | selectattr("visible") | length %}
    {% if anyVisibleItems %}
        {% set complete = false %}
        {% for item in items %}
            {% if item.visible %}
                {% set complete = true if item.answer else false %}
                <tr class="check-your-answers__row">
                    <th class="check-your-answers__question">{{ item.question | safe }}</th>
                    {% if answerIsCollection %}
                        <td class="check-your-answers__answer">
                            {% for answ in item.answer %}
                                <div class="check-your-answers__row">
                                {{ answ | safe }}
                                </div>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td class="check-your-answers__answer">{{ item.answer | safe }}</td>
                    {% endif %}
                    <td class="check-your-answers__change">
                        {% if alreadyDeclared === 'false' %}
                            {% set actionLink = common.change if complete else common.answer %}
                            <a href="{{ url }}">{{ actionLink }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
