{% macro taskHeader(content, title, status, previousTaskStatus, number) %}
    <h2 class="task-list-section">
        <span class="task-list-section-number">{{ number }}</span> {{ title | safe }}
    </h2>
    {% if status == "complete" %}
        <span class="govuk-tag task-completed">{{ content.taskComplete | safe }}</span>
    {% else %}
        {% if (status !== "started" ) and (previousTaskStatus !== "complete") %}
            <span class="govuk-tag task-unavailable">{{ content.taskUnavailable | safe }}</span>
        {% endif %}
    {% endif %}
{% endmacro %}
