{% from "widgets/fielderror.html" import fieldError %}

{% macro textField(id=name, text, hint, name, field, size) %}
    <div class="form-group {{ 'form-group-error' if field.error }}">
        {{ fieldError(field) }}

        <label class="form-label" for="{{ id }}">
            {{ text | safe }}
            {% if hint %}
                <span class="form-hint no-link">{{ hint | safe }}</span>
            {% endif %}
        </label>
        <input type="text" class="form-control {{ 'form-control-error' if field.error }} form-control-3-4" id="{{ id }}" name="{{ name }}" value="{{ field.value  | safe }}" maxlength="{{ size }}">
    </div>
{% endmacro %}

{% macro textFieldNoLabel(text, hint, name, field, size) %}
<div class="form-group {{ 'form-group-error' if field.error }}">
    {% if hint %}
    <p class="form-hint no-link">{{hint}}</p>
    {% endif %}

    {{ fieldError(field) }}

    <label class="visually-hidden" for="{{name}}">{{text}}</label>
    <input type="text" class="form-control {{ 'form-control-error' if field.error }} form-control-3-4" id="{{name}}" name="{{name}}" value="{{field.value | safe}}" maxlength="{{size}}">
</div>
{% endmacro %}

{% macro passwordField(id=name, text, hint, name, field, size, width) %}
    <div class="form-group {{ 'form-group-error' if field.error }}">
        {{ fieldError(field) }}

        <label class="form-label" for="{{ id }}">
            {{ text | safe }}
            {% if hint %}
                <span class="form-hint no-link">{{ hint | safe }}</span>
            {% endif %}
        </label>
        <input type="password" class="form-control {{ 'form-control-error' if field.error }} form-control-{{ width }}" id="{{ id }}" name="{{ name }}" value="{{ field.value  | safe }}" maxlength="{{ size }}" size="{{ size }}">
    </div>
{% endmacro %}

{% macro textFieldInArray(id=name, text, hint, name, fieldArray, size, index, errors) %}
    <div class="form-group {{ 'form-group-error' if errors.value[index] }}">
        {{ fieldError(errors.value[index]) }}

        <label class="form-label no-link" for="{{ id }}">
            {{ text | safe }}
            {% if hint %}
                <span class="form-hint">{{ hint | safe }}</span>
            {% endif %}
        </label>
        <input type="text" class="form-control {{ 'form-control-error' if errors.value[index] }} form-control-3-4" id="{{ id }}" name="{{ name }}" value="{{ fieldArray.value[index] | safe }}" maxlength="{{ size }}">
    </div>
{% endmacro %}

{% macro textFieldNoLabel(text, hint, name, field, size) %}
    <div class="form-group {{ 'form-group-error' if field.error }}">
        {{ fieldError(field) }}

        <label class="visually-hidden" for="{{ name }}">
            {{ text }}
            {% if hint %}
                <span class="form-hint no-link">{{ hint }}</span>
            {% endif %}
        </label>
        <input type="text" class="form-control {{ 'form-control-error' if field.error }} form-control-3-4" id="{{ name }}" name="{{ name }}" value="{{ field.value | safe }}" maxlength="{{ size }}">
    </div>
{% endmacro %}

{% macro textarea(text, field, name, size) %}
    <div class="form-group {{ 'form-group-error' if field.error }}">
        {{ fieldError(field) }}

        <textarea title="{{ text }}" class="form-control {{ 'form-control-error' if field.error }} form-control-3-4" rows="{{ size }}" id="{{ name }}" name="{{ name }}">{{ field.value | safe }}</textarea>
    </div>
{% endmacro %}
