{% extends "includes/layout.html" %}
{% block page_title %}
    {{content.title}}
{% endblock %}

{% block content %}

{% from "widgets/lists.html" import unorderedList %}

<main id="content" role="main">
    <div class="column-two-thirds">

        {% include "includes/phase_banner_beta.html" %}

        <h1 class="form-title heading-large">{{content.heading1}}</h1>
        <p>{{content.paragraph1 | replace('{privacyLink}', links.privacy) | safe}}</p>

        <h2 class="heading-medium">{{content.whoWeAreHeading}}</h2>
        <p>{{content.whoWeAreParagraph1 | safe}}</p>
        <p>{{content.whoWeAreParagraph2}}</p>

        <h2 class="heading-medium">{{content.informationProvidedHeading}}</h2>
        <p>{{content.informationProvidedParagraph1}}</p>
        <p>{{content.informationProvidedParagraph2}}</p>

        <h2 class="heading-medium">{{content.dataSharingStoringHeading}}</h2>
        <p>{{content.dataSharingStoringParagraph1 | replace('{privacyLink}', links.privacy) | safe}}</p>
        <p>{{content.dataSharingStoringParagraph2 | replace('{cookiesLink}', links.cookies) | safe}}</p>

        <h2 class="heading-medium">{{content.lawsApplicableHeading}}</h2>
        <p>{{content.lawsApplicableParagraph1}}</p>
        {{unorderedList([content["lawsApplicable-item1"], content["lawsApplicable-item2"], content["lawsApplicable-item3"], content["lawsApplicable-item4"], content["lawsApplicable-item5"]])}}

        <h2 class="heading-medium">{{content.responsibleUseHeading}}</h2>
        <p>{{content.responsibleUseParagraph1 | safe}}</p>
        <p>{{content.responsibleUseParagraph2}}</p>
        {{unorderedList([content["responsibleUse-item1"], content["responsibleUse-item2"], content["responsibleUse-item3"]])}}
        <p>{{content.responsibleUseParagraph3}}</p>

        <h2 class="heading-medium">{{content.personalInformationHeading}}</h2>
        <p>{{content.personalInformationParagraph1}}</p>
        <p>{{content.personalInformationParagraph2}}</p>
        {{unorderedList([content["personalInformation-item1"], content["personalInformation-item2"], content["personalInformation-item3"], content["personalInformation-item4"], content["personalInformation-item5"], content["personalInformation-item6"], content["personalInformation-item7"]])}}
        <p>{{content.personalInformationParagraph3}}</p>
        <p>{{content.personalInformationParagraph4 | replace('{privacyLink}', links.privacy) | safe}}</p>

        <h2 class="heading-medium">{{content.disclaimerHeading}}</h2>
        <p>{{content.disclaimerParagraph1 | safe}}</p>
        {{unorderedList([content["disclaimer-item1"], content["disclaimer-item2"], content["disclaimer-item3"], content["disclaimer-item4"], content["disclaimer-item5"]])}}
        <p>{{content.disclaimerParagraph2 | safe}}</p>
        <p>{{content.disclaimerParagraph3 | safe}}</p>  
        {{unorderedList([content["disclaimer-item6"], content["disclaimer-item7"], content["disclaimer-item8"], content["disclaimer-item9"]])}}
        <p>{{content.disclaimerParagraph4}}</p>
        <p>{{content.disclaimerParagraph5 | safe}}</p>
        {{unorderedList([content["disclaimer-item10"], content["disclaimer-item11"], content["disclaimer-item12"], content["disclaimer-item13"], content["disclaimer-item14"], content["disclaimer-item15"], content["disclaimer-item16"],  content["disclaimer-item17"], content["disclaimer-item18"], content["disclaimer-item19"]])}}
        <p>{{content.disclaimerParagraph6}}</p>
        {{unorderedList([content["disclaimer-item20"], content["disclaimer-item21"], content["disclaimer-item22"]])}}

        <h2 class="heading-medium">{{content.contactHeading}}</h2>
        <p>{{content.contactParagraph1 | replace('{helpLineNumber}', helpline.number)}}</p>
        <p>{{content.contactParagraph2 | replace('{helpLineHours}', helpline.hours)}}</p>
        <p>{{content.contactParagraph3 | replace('{callChargesLink}', links.callCharges) | safe}}</p>

    </div>

</main>

{% endblock %}