{{checkanswer(
    items = [
        {
            question: content.ApplicantName.firstName,
            answer: fields.applicant.firstName.value,
            visible: true
        },
        {
            question: content.ApplicantName.lastName,
            answer: fields.applicant.lastName.value,
            visible: true
        }
    ],
    url = content.ApplicantName.url,
    common = common,
    basePath = globals.basePath
)}}

{{checkanswer(
    items = [
        {
            question: content.ApplicantEmail.question,
            answer: fields.applicant.email.value,
            visible: true
        }
    ],
    url = content.ApplicantEmail.url,
    common = common,
    basePath = globals.basePath
)}}

{{checkanswer(
    items = [
        {
            question: content.ApplicantAddress.question,
            answer: fields.applicant.address.value.formattedAddress,
            visible: true
        }
    ],
    url = content.ApplicantAddress.url,
    common = common,
    basePath = globals.basePath
)}}

{{checkanswer(
    items = [
        {
            question: content.BilingualGOP.question,
            answer: content.BilingualGOP[fields.language.bilingual.value],
            visible: true
        }
    ],
    url = content.BilingualGOP.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value,
    basePath = globals.basePath
)}}
