{{checkanswer(
    items = [
        {
            question: content.DeceasedName.firstName,
            answer: fields.deceased.firstName.value,
            visible: true
        },
        {
           question: content.DeceasedName.lastName,
           answer: fields.deceased.lastName.value,
           visible: true
        }
    ],
    url = content.DeceasedName.url,
    common = common,
    basePath = globals.basePath
)}}

{{checkanswer(
    items = [
        {
            question: content.DeceasedDod.question,
            answer: fields.deceased["dod-formattedDate"].value,
            visible: true
        }
    ],
    url = content.DeceasedDod.url,
    common = common,
    basePath = globals.basePath
)}}

{{checkanswer(
    items = [
        {
            question: content.DeceasedDobKnown.question,
            answer: content.DeceasedDobKnown[fields.deceased.dobknown.value],
            visible: true
        }
    ],
    url = content.DeceasedDobKnown.url,
    common = common,
    basePath = globals.basePath
)}}

{% if fields.deceased.dobknown.value == "optionYes" %}
    {{checkanswer(
        items = [
            {
                question: content.DeceasedDob.question,
                answer: fields.deceased["dob-formattedDate"].value,
                visible: true
            }
        ],
        url = content.DeceasedDob.url,
        common = common,
        basePath = globals.basePath
    )}}
{% endif %}

{{checkanswer(
    items = [
        {
            question: content.DeceasedAlias.question,
            answer: content.DeceasedAlias[fields.deceased.alias.value],
            visible: true
        }
    ],
    url = content.DeceasedAlias.url,
    common = common,
    basePath = globals.basePath
)}}

{% if fields.deceased.otherNames.value.length > 0 %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{content.Summary.otherNamesLabel | safe}}</dt>
        <dd class="govuk-summary-list__value">
            {% for index, otherName in fields.deceased.otherNames.value %}
                <div class="govuk-summary-list__row">
                    {{ otherName.firstName.value | safe }} {{ otherName.lastName.value | safe }}
                </div>
            {% endfor %}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a href="{{ globals.basePath }}{{ content.DeceasedOtherNames.url }}" class="govuk-link">{{ common.change }}</a>
        </dd>
    </div>
{% endif %}

{{checkanswer(
    items = [{
        question: content.DeceasedAddress.question,
        answer: fields.deceased.address.value.formattedAddress,
        visible: true
    }],
    url = content.DeceasedAddress.url,
    common = common,
    basePath = globals.basePath
)}}
