{{checkanswer(
    items = [{
        question: content.DeceasedName.firstName,
        answer: fields.deceased.firstName.value,
        visible: true
    }, {
       question: content.DeceasedName.lastName,
       answer: fields.deceased.lastName.value,
       visible: true
    }],
    url = content.DeceasedName.url,
    common = common,
    basePath = basePath,
    alreadyDeclared = 'false'
)}}

{{checkanswer(
    items = [{
        question: content.DeceasedDod.question,
        answer: fields.deceased.dod_formattedDate.value,
        visible: true
    }],
    url = content.DeceasedDod.url,
    common = common,
    basePath = basePath,
    alreadyDeclared = 'false'
)}}

{{checkanswer(
    items = [{
        question: content.DeceasedDobKnown.question,
        answer: fields.deceased.dobknown.value,
        visible: true
    }],
    url = content.DeceasedDobKnown.url,
    common = common,
    basePath = basePath,
    alreadyDeclared = 'false'
)}}

{% if fields.deceased.dobknown.value === 'Yes' %}
    {{checkanswer(
        items = [{
            question: content.DeceasedDob.question,
            answer: fields.deceased.dob_formattedDate.value,
            visible: true
        }],
        url = content.DeceasedDob.url,
        common = common,
        basePath = basePath,
        alreadyDeclared = 'false'
    )}}
{% endif %}

{{checkanswer(
    items = [{
        question: content.DeceasedAlias.question,
        answer: fields.deceased.alias.value,
        visible: true
    }],
    url = content.DeceasedAlias.url,
    common = common,
    basePath = basePath,
    alreadyDeclared = 'false'
)}}

{% if fields.deceased.otherNames.value.length > 0 %}
    <tr class="check-your-answers__row">
        <th class="check-your-answers__question">{{content.Summary.otherNamesLabel | safe}}</th>
        <td class="check-your-answers__answer">
            {% for index, otherName in fields.deceased.otherNames.value %}
                <div class="check-your-answers__row">
                    {{otherName.firstName.value | safe}} {{otherName.lastName.value | safe}}
                </div>
            {% endfor %}
        </td>
        <td class="check-your-answers__change">
            {% if fields.summary.alreadyDeclared.value == 'false' %}
                <a href="{{basePath}}{{content.DeceasedOtherNames.url}}">{{common.change}}</a>
            {%endif%}
        </td>
    </tr>
{% endif %}

{{checkanswer(
    items = [{
        question: content.DeceasedAddress.question,
        answer: fields.deceased.address.value.formattedAddress,
        visible: true
    }],
    url = content.DeceasedAddress.url,
    common = common,
    basePath = basePath,
    alreadyDeclared = 'false'
)}}
