{% extends "includes/layout.html" %}

{% block page_title %}
Page not found
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-large">Page not found</h1>
            <p>This could be because you&rsquo;ve followed a broken or outdated link, or because there&rsquo;s an error on our site. Use the browser back button to go to the previous page.</p>
        </div>
    </div>
</main>

{% endblock %}