{% extends "includes/two_thirds_form.html" %}

{% block form_content %}
    <h1 class="govuk-heading-l">{{ content.question }}</h1>

    <p class="govuk-body">{{ content.paragraph }}</p>
    <p class="govuk-body">
        {{ content.telephone }}:<br>
        {{ common.serviceTelephoneNumber }}
    </p>
    <p class="govuk-body">
        {{ content.email }}:<br>
        <a href="mailto: {{ common.serviceEmail }}" class="govuk-link">{{ common.serviceEmail }}</a>
    </p>
    <p class="govuk-body">
        {{ content.hours }}:<br>
        {{ common.serviceTelephoneOpeningHours }}
    </p>
{% endblock %}
