{% extends "includes/two_thirds_form.html" %}

{% block form_content %}
    <h1 class="govuk-heading-l">{{ content.question }}</h1>

    <p class="govuk-body">{{ content.paragraph }}</p>
    <p class="govuk-body">
        {{ content.telephone }}:<br>
        {{ fields.telephone.value }}
    </p>
    <p class="govuk-body">
        {{ content.email }}:<br>
        <a href="mailto: {{ fields.email.value }}" class="govuk-link">{{ fields.email.value }}</a>
    </p>
    <p class="govuk-body">
        {{ content.hours }}:<br>
        {{ fields.hours.value }}
    </p>
{% endblock %}
