{% extends "includes/two_thirds_form.html" %}

{% block question %}
    <h1 class="form-title heading-large">{{content.question}}</h1>
{% endblock %}

{% block form_content %}
    <p>{{content.paragraph | safe}}</p>
    <p>{{content.telephone | safe}}</p>
    <p>{{fields.telephone.value | safe}}</p>
    <p>{{content.email | safe}}</p>
    <p>{{fields.email.value | safe}}</p>
    <p>{{content.hours | safe}}</p>
    <p>{{fields.hours.value | safe}}</p>
    <div class="panel panel-border-wide">
        <p>{{content.callout | safe}}</p>
    </div>
{% endblock %}
{% block save_and_close %}{% endblock %}
