{% extends "includes/layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content.heading1 }}</h1>
            <p class="govuk-body">{{ content.paragraph1 | replace('{helpLineNumber}', globals.helpline.number) }}</p>
            <p class="govuk-body">{{ content.paragraph2 | replace('{helpLineHours}', globals.helpline.hours) }}</p>
            <p class="govuk-body">{{ content.paragraph3 | replace('{callChargesLink}', globals.links.callCharges) | safe }}</p>
        </div>
    </div>
{% endblock %}
