{% extends "includes/layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content.heading1 | safe }}</h1>
            {% if fields.language.value === 'en' %}
                <p class="govuk-heading-s" id="avaya-web-chat-header"> {{ common.helpHeading3 | safe }} </p>
                {% include "includes/avaya-webchat.html" %}
            {% endif %}
            <p class="govuk-heading-s govuk-!-padding-top-2"> {{ common.helpHeading2 | safe }} </p>
            <p class="govuk-body"> {{ common.helpEmailLabel | replace("{contactEmailAddress}", common.helpEmail) | safe }} </p>
            <p class="govuk-heading-s"> {{ common.helpHeading1 | safe }}</p>
            <p class="govuk-body"> {{ common.helpTelephoneNumber | safe }}</p>
            <p class="govuk-heading-m govuk-!-padding-top-6"> {{ common.helpTelephoneOpeningHoursTitle | safe }} </p>
            <p class="govuk-body"> {{ common.helpTelephoneOpeningHours1 | safe }} </p>
            <p class="govuk-body"> {{ common.helpTelephoneOpeningHours2 | safe }} </p>
            <p class="govuk-body"> {{ common.helpTelephoneOpeningHours3 | safe }} </p>
        </div>
    </div>
{% endblock %}
