{% extends "includes/layout.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/checkanswer.njk" import checkanswer %}

{% set title = content.Summary.title %}

{% block content %}
    <div id="check-your-answers">
        <h1 class="govuk-heading-l">{{ content.Summary.heading | safe }}</h1>
        <p class="govuk-body" id="main-heading-content">{{ content.Summary.checkCarefully | safe }}</p>

        <h2 class="govuk-heading-m">{{ content.Summary.aboutYouHeading | safe }}</h2>
        <dl class="govuk-summary-list">
            {% include "ui/summary/includes/about-you.njk" %}
        </dl>

        <h2 class="govuk-heading-m">{{ content.Summary.deceasedHeading | safe }}</h2>
        <dl class="govuk-summary-list">
            {% include "ui/summary/includes/deceased.njk" %}
        </dl>
    </div>

    <p class="govuk-body save-this-page-link">
        <em class="icon icon-file-download"></em>
        <a class="govuk-link anchor-margin-left" id="checkAnswerHref" href="{{ globals.basePath }}/check-answers-pdf">{{ content.Summary.checkAnswersPdf | safe }}</a>
    </p>

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            href: (globals.basePath if globals.basePath) + "/payment-breakdown",
            isStartButton: true
        }) }}
    </div>

    {% include "includes/help_details.html" %}
{% endblock %}
