{% extends "includes/two_thirds_form.html" %}

{% from "widgets/checkanswer.html" import checkanswer %}

{% set column_width = "column-full" %}

{% block question %}
    <h1 class="form-title heading-large">{{ content.Summary.heading }}</h1>
{% endblock %}

{% block form_content %}
    <p class="form-group" id="main-heading-content">{{ content.Summary.checkCarefully }}</p>

        <h2 class="heading-medium">{{ content.Summary.aboutYouHeading | safe }}</h2>
        <dl class="check-your-answers check-your-answers--long">
            {% include "ui/summary/includes/about-you.njk" %}
        </dl>

        <h2 class="heading-medium">{{ content.Summary.deceasedHeading }}</h2>
        <dl class="check-your-answers check-your-answers--long">
            {% include "ui/summary/includes/deceased.njk" %}
        </dl>
    </div>

    <p class="save-this-page-link">
        <i class="icon icon-file-download"></i>
        <a class="anchor-margin-left" id="checkAnswerHref" href="/check-answers-pdf">{{ content.Summary.checkAnswersPdf }}</a>
    </p>

    <div class="form-group">
        <input class="button button-start" type="submit" value="{{ common.continue }}">
    </div>
{% endblock %}
{% block save_and_close %}{% endblock %}
