{% extends "includes/two_thirds_form.html" %}

{% from "widgets/textfields.html" import textField %}

{% block error_summary %}
    {% if errors %}
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                {{ common.errorSummaryHeading | safe }}
            </h2>
            <ul class="error-summary-list">
                {% for index, otherNameErros in errors %}
                    {% for error in otherNameErros %}
                        <li><a href="#otherNames_{{ index }}_{{ error.param }}">{{ error.msg.summary | safe }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block question %}
    <h1 class="govuk-heading-l">{{ content.question | replace('{deceasedName}', fields.deceasedFullName.value) | safe }}</h1>
{% endblock %}

{% block form_content %}
    <p class="form-hint">{{ content.explanation1 }}</p>

    {% set hasOtherNames = false %}
    {% for index, otherName in fields.otherNames.value %}
        <fieldset>
            {% if index !== 'name_0' %}
                {% set hasOtherNames = true %}
                <span class="heading-medium">{{ content.otherName }}</span>
                <input class="button-secondary" type="submit" formaction="{{ basePath }}/other-names/remove/{{ index }}" value="{{ content.removeName }}">
            {% else %}
                <legend class="visually-hidden">
                    {{ content.question | safe }}
                </legend>
            {% endif %}
            {{ textField(
                id = 'otherNames_'+index+'_firstName',
                name = 'otherNames['+index+'][firstName]',
                field = otherName['firstName'],
                text = content.firstName,
                hint = content.firstNameHint,
                size = 30
            ) }}
            {{ textField(
                id = 'otherNames_'+index+'_lastName',
                name = 'otherNames['+index+'][lastName]',
                field = otherName['lastName'],
                text = content.lastName,
                hint = content.lastNameHint,
                size = 30
            ) }}
        </fieldset>
    {% endfor %}
    <div class="form-group">
        <input {% if hasOtherNames %}autofocus="autofocus"{% endif %} class="button-secondary" type="submit" formaction="{{ basePath }}/other-names/add" value="{{ content.addAnotherName }}">
    </div>
    <div class="form-group">
        <input class="button" type="submit" value="{{ common.continue }}">
    </div>
{% endblock %}
