{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block error_summary %}
    {% if errors %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">{{ common.errorSummaryHeading | safe }}</h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        {% for index, otherNameErrors in errors %}
                            {% for error in otherNameErrors %}
                                <li><a href="#otherNames_{{ index }}_{{ error.field }}">{{ error.msg.summary | safe }}</a></li>
                            {% endfor %}
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block form_content %}
    {% set hasOtherNames = false %}
    {% for index, otherName in fields.otherNames.value %}
        {% call govukFieldset({
            legend: {
                text: (content.question | replace("{deceasedName}", fields.deceasedFullName.value) if index == "name_0" else content.otherName) | safe,
                classes: ("govuk-fieldset__legend--l" if index == "name_0" else "govuk-fieldset__legend--m"),
                isPageHeading: (true if index == "name_0" else false)
            }
        }) %}
            {% if index !== "name_0" %}
                {% set hasOtherNames = true %}
                {{ govukButton({
                    text: content.removeName | safe,
                    preventDoubleClick: true,
                    classes: "govuk-button--secondary",
                    attributes: {
                        formaction: (globals.basePath if globals.basePath) + "/other-names/remove/" + index
                    }
                }) }}
            {% endif %}

            {{ govukInput({
                label: {
                    text: content.firstName | safe
                },
                id: "otherNames_" + index + "_firstName",
                name: "otherNames[" + index + "][firstName]",
                value: otherName["firstName"].value | safe,
                errorMessage: { text: otherName["firstName"].errorMessage.message | safe } if otherName["firstName"].errorMessage,
                attributes: {
                    maxlength: 100
                },
                classes: "govuk-!-width-three-quarters",
                hint: {
                    text: content.firstNameHint | safe
                }
            }) }}
            {{ govukInput({
                label: {
                    text: content.lastName | safe
                },
                id: "otherNames_" + index + "_lastName",
                name: "otherNames[" + index + "][lastName]",
                value: otherName["lastName"].value | safe,
                errorMessage: { text: otherName["lastName"].errorMessage.message | safe } if otherName["lastName"].errorMessage,
                attributes: {
                    maxlength: 100
                },
                classes: "govuk-!-width-three-quarters"
            }) }}
        {% endcall %}
    {% endfor %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: content.addAnotherName | safe,
            preventDoubleClick: true,
            classes: "govuk-button--secondary",
            attributes: {
                formaction: (globals.basePath if globals.basePath) + "/other-names/add"
            }
        }) }}
    </div>

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
