{% extends "includes/two_thirds_form.html" %}

{% from "widgets/dates.html" import date %}

{% block question %}
    <h1 class="govuk-heading-l">{{ content.question }}</h1>
{% endblock %}

{% block form_content %}
    {{ date(
        name = 'dob',
        day = fields.dob_day,
        month = fields.dob_month,
        year  = fields.dob_year,
        date = fields.dob_date,
        maxyear = currentYear,
        legend = content.legend,
        hint = content.questionHint
    ) }}
    <div class="form-group">
        <input class="button" type="submit" value="{{ common.continue }}">
    </div>
{% endblock %}
