{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% if errors %}
        {% set inlineErrors = {
            text:
            (
            (fields["dob-date"].errorMessage + "<br>" if fields["dob-date"].errorMessage) +
            (fields["dob-day"].errorMessage + "<br>" if fields["dob-day"].errorMessage) +
            (fields["dob-month"].errorMessage + "<br>" if fields["dob-month"].errorMessage) +
            (fields["dob-year"].errorMessage + "<br>" if fields["dob-year"].errorMessage)
            ) | safe
        } %}
    {% endif %}

    {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: content.questionHint | safe
        },
        errorMessage: inlineErrors,
        items: [
            {
                classes: "govuk-input--width-2" + (" govuk-input--error" if fields["dob-day"].error or fields["dob-date"].error),
                name: "day",
                value: fields["dob-day"].value
            },
            {
                classes: "govuk-input--width-2" + (" govuk-input--error" if fields["dob-month"].error or fields["dob-date"].error),
                name: "month",
                value: fields["dob-month"].value
            },
            {
                classes: "govuk-input--width-4" + (" govuk-input--error" if fields["dob-year"].error or fields["dob-date"].error),
                name: "year",
                value: fields["dob-year"].value
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
