{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-hint">{{ content.explanation1 | safe }}</p>

        {{ govukInput({
            label: {
                text: content.firstName | safe
            },
            id: "firstName",
            name: "firstName",
            value: fields.firstName.value | safe,
            errorMessage: { text: fields.firstName.errorMessage.message | safe } if fields.firstName.errorMessage,
            attributes: {
                maxlength: 100
            },
            classes: "govuk-!-width-three-quarters"
        }) }}
        {{ govukInput({
            label: {
                text: content.lastName | safe
            },
            id: "lastName",
            name: "lastName",
            value: fields.lastName.value | safe,
            errorMessage: { text: fields.lastName.errorMessage.message | safe } if fields.lastName.errorMessage,
            attributes: {
                maxlength: 100
            },
            classes: "govuk-!-width-three-quarters"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
